.ff0{font-family:sans-serif;visibility:hidden;}
@font-face{font-family:ff1;src:url(f1.woff)format("woff");}.ff1{font-family:ff1;line-height:0.958008;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff2;src:url(f2.woff)format("woff");}.ff2{font-family:ff2;line-height:0.959961;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff3;src:url(f3.woff)format("woff");}.ff3{font-family:ff3;line-height:0.677246;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff4;src:url(f4.woff)format("woff");}.ff4{font-family:ff4;line-height:0.750000;font-style:normal;font-weight:normal;visibility:visible;}
.m0{transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);}
.m1{transform:none;-ms-transform:none;-webkit-transform:none;}
.v0{vertical-align:0.000000px;}
.ls0{letter-spacing:0.000000px;}
.sc_{text-shadow:none;}
.sc0{text-shadow:-0.015em 0 transparent,0 0.015em transparent,0.015em 0 transparent,0 -0.015em  transparent;}
@media screen and (-webkit-min-device-pixel-ratio:0){
.sc_{-webkit-text-stroke:0px transparent;}
.sc0{-webkit-text-stroke:0.015em transparent;text-shadow:none;}
}
.ws0{word-spacing:0.000000px;}
._0{width:4.176000px;}
._9{width:51.696000px;}
._4{width:54.576000px;}
._3{width:56.064000px;}
._1{width:57.376000px;}
._5{width:76.992000px;}
._6{width:152.688000px;}
._8{width:253.152000px;}
._2{width:290.208000px;}
._7{width:529.344000px;}
.fc1{color:rgb(61,133,156);}
.fc0{color:rgb(0,0,0);}
.fs5{font-size:32.000000px;}
.fs1{font-size:44.000000px;}
.fs3{font-size:48.000000px;}
.fs4{font-size:52.000000px;}
.fs2{font-size:56.000000px;}
.fs0{font-size:72.000000px;}
.y0{bottom:0.000000px;}
.y26{bottom:2.863000px;}
.y25{bottom:36.000026px;}
.y24{bottom:69.577011px;}
.y23{bottom:86.374008px;}
.y22{bottom:103.171005px;}
.y21{bottom:119.968002px;}
.y20{bottom:137.552011px;}
.y1f{bottom:156.361004px;}
.y1e{bottom:173.158005px;}
.y1d{bottom:189.955002px;}
.y1c{bottom:206.751999px;}
.y1b{bottom:223.548996px;}
.y1a{bottom:240.345989px;}
.y19{bottom:257.142990px;}
.y18{bottom:273.939987px;}
.y17{bottom:290.737015px;}
.y16{bottom:307.534008px;}
.y15{bottom:324.331009px;}
.y14{bottom:341.128006px;}
.y13{bottom:357.925003px;}
.y12{bottom:374.327006px;}
.y11{bottom:390.119003px;}
.y10{bottom:406.916000px;}
.yf{bottom:423.712997px;}
.ye{bottom:441.297006px;}
.y36{bottom:455.097005px;}
.yd{bottom:459.710999px;}
.y34{bottom:473.830007px;}
.yc{bottom:475.108000px;}
.y35{bottom:477.466006px;}
.yb{bottom:490.505000px;}
.y33{bottom:492.563005px;}
.ya{bottom:507.084008px;}
.y31{bottom:509.360005px;}
.y32{bottom:512.996005px;}
.y30{bottom:528.093007px;}
.y9{bottom:540.895000px;}
.y2f{bottom:546.826009px;}
.y8{bottom:556.292003px;}
.y2e{bottom:566.346002px;}
.y7{bottom:572.084000px;}
.y6{bottom:589.668008px;}
.y2d{bottom:601.952003px;}
.y2c{bottom:618.749001px;}
.y5{bottom:623.479002px;}
.y2b{bottom:635.546005px;}
.y4{bottom:638.876002px;}
.y2a{bottom:652.343002px;}
.y3{bottom:655.455003px;}
.y29{bottom:669.927003px;}
.y2{bottom:689.266002px;}
.y28{bottom:705.533001px;}
.y1{bottom:716.295002px;}
.y27{bottom:722.330002px;}
.h5{height:15.939000px;}
.h7{height:24.062500px;}
.h2{height:33.085938px;}
.h4{height:36.093750px;}
.h6{height:39.000000px;}
.h3{height:42.000000px;}
.h1{height:54.000000px;}
.h0{height:792.000000px;}
.w2{width:252.500000px;}
.w1{width:479.000000px;}
.w3{width:611.999977px;}
.w0{width:612.000000px;}
.x5{left:0.000000px;}
.x0{left:56.000000px;}
.x1{left:74.150002px;}
.x3{left:77.150002px;}
.x2{left:92.150002px;}
.x4{left:95.150002px;}
.x8{left:145.780998px;}
.x9{left:153.371002px;}
.x6{left:398.358009px;}
.x7{left:405.948006px;}
@media print{
.v0{vertical-align:0.000000pt;}
.ls0{letter-spacing:0.000000pt;}
.ws0{word-spacing:0.000000pt;}
._0{width:5.568000pt;}
._9{width:68.928000pt;}
._4{width:72.768000pt;}
._3{width:74.752000pt;}
._1{width:76.501333pt;}
._5{width:102.656000pt;}
._6{width:203.584000pt;}
._8{width:337.536000pt;}
._2{width:386.944000pt;}
._7{width:705.792000pt;}
.fs5{font-size:42.666667pt;}
.fs1{font-size:58.666667pt;}
.fs3{font-size:64.000000pt;}
.fs4{font-size:69.333333pt;}
.fs2{font-size:74.666667pt;}
.fs0{font-size:96.000000pt;}
.y0{bottom:0.000000pt;}
.y26{bottom:3.817333pt;}
.y25{bottom:48.000034pt;}
.y24{bottom:92.769348pt;}
.y23{bottom:115.165344pt;}
.y22{bottom:137.561340pt;}
.y21{bottom:159.957336pt;}
.y20{bottom:183.402681pt;}
.y1f{bottom:208.481339pt;}
.y1e{bottom:230.877340pt;}
.y1d{bottom:253.273336pt;}
.y1c{bottom:275.669332pt;}
.y1b{bottom:298.065328pt;}
.y1a{bottom:320.461319pt;}
.y19{bottom:342.857320pt;}
.y18{bottom:365.253316pt;}
.y17{bottom:387.649353pt;}
.y16{bottom:410.045344pt;}
.y15{bottom:432.441345pt;}
.y14{bottom:454.837341pt;}
.y13{bottom:477.233337pt;}
.y12{bottom:499.102675pt;}
.y11{bottom:520.158671pt;}
.y10{bottom:542.554667pt;}
.yf{bottom:564.950663pt;}
.ye{bottom:588.396008pt;}
.y36{bottom:606.796007pt;}
.yd{bottom:612.947998pt;}
.y34{bottom:631.773342pt;}
.yc{bottom:633.477333pt;}
.y35{bottom:636.621342pt;}
.yb{bottom:654.006667pt;}
.y33{bottom:656.750674pt;}
.ya{bottom:676.112011pt;}
.y31{bottom:679.146674pt;}
.y32{bottom:683.994673pt;}
.y30{bottom:704.124009pt;}
.y9{bottom:721.193333pt;}
.y2f{bottom:729.101345pt;}
.y8{bottom:741.722670pt;}
.y2e{bottom:755.128002pt;}
.y7{bottom:762.778666pt;}
.y6{bottom:786.224010pt;}
.y2d{bottom:802.602671pt;}
.y2c{bottom:824.998667pt;}
.y5{bottom:831.305336pt;}
.y2b{bottom:847.394674pt;}
.y4{bottom:851.834670pt;}
.y2a{bottom:869.790670pt;}
.y3{bottom:873.940004pt;}
.y29{bottom:893.236004pt;}
.y2{bottom:919.021336pt;}
.y28{bottom:940.710668pt;}
.y1{bottom:955.060003pt;}
.y27{bottom:963.106669pt;}
.h5{height:21.252000pt;}
.h7{height:32.083333pt;}
.h2{height:44.114583pt;}
.h4{height:48.125000pt;}
.h6{height:52.000000pt;}
.h3{height:56.000000pt;}
.h1{height:72.000000pt;}
.h0{height:1056.000000pt;}
.w2{width:336.666667pt;}
.w1{width:638.666667pt;}
.w3{width:815.999969pt;}
.w0{width:816.000000pt;}
.x5{left:0.000000pt;}
.x0{left:74.666667pt;}
.x1{left:98.866669pt;}
.x3{left:102.866669pt;}
.x2{left:122.866669pt;}
.x4{left:126.866669pt;}
.x8{left:194.374664pt;}
.x9{left:204.494670pt;}
.x6{left:531.144012pt;}
.x7{left:541.264008pt;}
}
