.ff0{font-family:sans-serif;visibility:hidden;}
@font-face{font-family:ff1;src:url(f1.woff)format("woff");}.ff1{font-family:ff1;line-height:0.958008;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff2;src:url(f2.woff)format("woff");}.ff2{font-family:ff2;line-height:0.959961;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff3;src:url(f3.woff)format("woff");}.ff3{font-family:ff3;line-height:0.677246;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff4;src:url(f4.woff)format("woff");}.ff4{font-family:ff4;line-height:0.715820;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff5;src:url(f5.woff)format("woff");}.ff5{font-family:ff5;line-height:0.750000;font-style:normal;font-weight:normal;visibility:visible;}
.m0{transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);}
.m1{transform:none;-ms-transform:none;-webkit-transform:none;}
.v0{vertical-align:0.000000px;}
.ls0{letter-spacing:0.000000px;}
.sc_{text-shadow:none;}
.sc0{text-shadow:-0.015em 0 transparent,0 0.015em transparent,0.015em 0 transparent,0 -0.015em  transparent;}
@media screen and (-webkit-min-device-pixel-ratio:0){
.sc_{-webkit-text-stroke:0px transparent;}
.sc0{-webkit-text-stroke:0.015em transparent;text-shadow:none;}
}
.ws0{word-spacing:0.000000px;}
._0{width:4.176000px;}
._4{width:54.576000px;}
._3{width:56.064000px;}
._1{width:57.376000px;}
._6{width:172.032000px;}
._7{width:222.528000px;}
._5{width:224.688000px;}
._8{width:253.152000px;}
._2{width:290.208000px;}
.fc2{color:rgb(34,34,34);}
.fc1{color:rgb(61,133,156);}
.fc0{color:rgb(0,0,0);}
.fs6{font-size:32.000000px;}
.fs4{font-size:38.000000px;}
.fs1{font-size:44.000000px;}
.fs3{font-size:48.000000px;}
.fs5{font-size:52.000000px;}
.fs2{font-size:56.000000px;}
.fs0{font-size:72.000000px;}
.y0{bottom:0.000000px;}
.y22{bottom:2.863000px;}
.y21{bottom:36.000026px;}
.y20{bottom:77.976006px;}
.y1f{bottom:93.373005px;}
.y1e{bottom:108.770004px;}
.y1d{bottom:125.567001px;}
.y1c{bottom:159.160995px;}
.y1b{bottom:175.957989px;}
.y1a{bottom:192.754990px;}
.y19{bottom:209.551987px;}
.y18{bottom:226.349014px;}
.y17{bottom:259.943005px;}
.y16{bottom:276.740006px;}
.y39{bottom:277.664993px;}
.y37{bottom:292.378006px;}
.y15{bottom:293.537003px;}
.y38{bottom:296.014006px;}
.y36{bottom:307.091000px;}
.y14{bottom:310.334000px;}
.y34{bottom:321.804001px;}
.y35{bottom:325.440001px;}
.y33{bottom:336.517014px;}
.y13{bottom:343.533000px;}
.y32{bottom:351.229996px;}
.y12{bottom:359.324997px;}
.y11{bottom:376.121994px;}
.y31{bottom:377.814004px;}
.y10{bottom:392.918991px;}
.y30{bottom:405.623001px;}
.yf{bottom:410.502999px;}
.y2f{bottom:431.419998px;}
.ye{bottom:444.313995px;}
.y2e{bottom:457.216995px;}
.yd{bottom:459.710997px;}
.yc{bottom:475.107997px;}
.y2d{bottom:483.014008px;}
.yb{bottom:491.687005px;}
.y2c{bottom:509.598001px;}
.ya{bottom:525.497996px;}
.y2b{bottom:537.406998px;}
.y9{bottom:540.895000px;}
.y8{bottom:556.686996px;}
.y2a{bottom:563.203995px;}
.y7{bottom:574.271005px;}
.y29{bottom:589.001007px;}
.y6{bottom:608.082001px;}
.y28{bottom:614.798004px;}
.y5{bottom:623.479002px;}
.y4{bottom:638.876002px;}
.y27{bottom:641.382005px;}
.y3{bottom:655.455003px;}
.y26{bottom:667.107002px;}
.y25{bottom:681.820004px;}
.y2{bottom:689.266002px;}
.y24{bottom:696.533001px;}
.y1{bottom:716.295002px;}
.y23{bottom:722.330002px;}
.h5{height:15.939000px;}
.h7{height:24.062500px;}
.h2{height:33.085938px;}
.h4{height:36.093750px;}
.h6{height:39.000000px;}
.h3{height:42.000000px;}
.h1{height:54.000000px;}
.h0{height:792.000000px;}
.w2{width:252.500000px;}
.w1{width:484.500000px;}
.w3{width:611.999977px;}
.w0{width:612.000000px;}
.x5{left:0.000000px;}
.x0{left:56.000000px;}
.x1{left:74.150002px;}
.x3{left:77.150002px;}
.x2{left:92.150002px;}
.x4{left:95.150002px;}
.x8{left:145.780998px;}
.x9{left:153.371002px;}
.x6{left:398.358009px;}
.x7{left:405.948006px;}
@media print{
.v0{vertical-align:0.000000pt;}
.ls0{letter-spacing:0.000000pt;}
.ws0{word-spacing:0.000000pt;}
._0{width:5.568000pt;}
._4{width:72.768000pt;}
._3{width:74.752000pt;}
._1{width:76.501333pt;}
._6{width:229.376000pt;}
._7{width:296.704000pt;}
._5{width:299.584000pt;}
._8{width:337.536000pt;}
._2{width:386.944000pt;}
.fs6{font-size:42.666667pt;}
.fs4{font-size:50.666667pt;}
.fs1{font-size:58.666667pt;}
.fs3{font-size:64.000000pt;}
.fs5{font-size:69.333333pt;}
.fs2{font-size:74.666667pt;}
.fs0{font-size:96.000000pt;}
.y0{bottom:0.000000pt;}
.y22{bottom:3.817333pt;}
.y21{bottom:48.000034pt;}
.y20{bottom:103.968007pt;}
.y1f{bottom:124.497340pt;}
.y1e{bottom:145.026672pt;}
.y1d{bottom:167.422668pt;}
.y1c{bottom:212.214661pt;}
.y1b{bottom:234.610652pt;}
.y1a{bottom:257.006653pt;}
.y19{bottom:279.402649pt;}
.y18{bottom:301.798686pt;}
.y17{bottom:346.590673pt;}
.y16{bottom:368.986674pt;}
.y39{bottom:370.219991pt;}
.y37{bottom:389.837341pt;}
.y15{bottom:391.382670pt;}
.y38{bottom:394.685341pt;}
.y36{bottom:409.454666pt;}
.y14{bottom:413.778666pt;}
.y34{bottom:429.072001pt;}
.y35{bottom:433.920001pt;}
.y33{bottom:448.689351pt;}
.y13{bottom:458.044000pt;}
.y32{bottom:468.306661pt;}
.y12{bottom:479.099996pt;}
.y11{bottom:501.495992pt;}
.y31{bottom:503.752005pt;}
.y10{bottom:523.891988pt;}
.y30{bottom:540.830668pt;}
.yf{bottom:547.337332pt;}
.y2f{bottom:575.226664pt;}
.ye{bottom:592.418660pt;}
.y2e{bottom:609.622660pt;}
.yd{bottom:612.947996pt;}
.yc{bottom:633.477329pt;}
.y2d{bottom:644.018677pt;}
.yb{bottom:655.582673pt;}
.y2c{bottom:679.464001pt;}
.ya{bottom:700.663995pt;}
.y2b{bottom:716.542664pt;}
.y9{bottom:721.193333pt;}
.y8{bottom:742.249329pt;}
.y2a{bottom:750.938660pt;}
.y7{bottom:765.694673pt;}
.y29{bottom:785.334676pt;}
.y6{bottom:810.776001pt;}
.y28{bottom:819.730672pt;}
.y5{bottom:831.305336pt;}
.y4{bottom:851.834670pt;}
.y27{bottom:855.176006pt;}
.y3{bottom:873.940004pt;}
.y26{bottom:889.476003pt;}
.y25{bottom:909.093338pt;}
.y2{bottom:919.021336pt;}
.y24{bottom:928.710668pt;}
.y1{bottom:955.060003pt;}
.y23{bottom:963.106669pt;}
.h5{height:21.252000pt;}
.h7{height:32.083333pt;}
.h2{height:44.114583pt;}
.h4{height:48.125000pt;}
.h6{height:52.000000pt;}
.h3{height:56.000000pt;}
.h1{height:72.000000pt;}
.h0{height:1056.000000pt;}
.w2{width:336.666667pt;}
.w1{width:646.000000pt;}
.w3{width:815.999969pt;}
.w0{width:816.000000pt;}
.x5{left:0.000000pt;}
.x0{left:74.666667pt;}
.x1{left:98.866669pt;}
.x3{left:102.866669pt;}
.x2{left:122.866669pt;}
.x4{left:126.866669pt;}
.x8{left:194.374664pt;}
.x9{left:204.494670pt;}
.x6{left:531.144012pt;}
.x7{left:541.264008pt;}
}
